.controlPanel {
  background-color: var(--accent-color-5);
  height: 100%;

  &-text {
    font-size: 10px;
  }

  &-focusBar {
    position: relative;
    top: 0;
    width: 45px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--accent-color-2);
    opacity: 0;
    @media screen and (max-width: 700px) {
      height: 2px;
    }
  }
}


.controlPanel-focusBar-hovered {
  opacity: 0.3;
}

.controlPanel-focusBar-selected {
  opacity: 1;
}
