.detailPokemon {
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;

  &-loader {
    svg {
      fill: var(--accent-color-6);
    }

    z-index: 1;
    color: var(--accent-color-6);
  }

  &-backBtn {
    display: none;
    @media screen and (max-width: 850px) {
      display: flex;
    }
  }

  &-fullScreenIcon {
    position: absolute;
    top: 7px;
    left: 0.2%;
    padding: 0;
    z-index: 1000;
    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &-pokeballPicture {
    position: absolute;
    z-index: 0;
    top: -300px;
    right: -300px;
    width: 700px !important;
    height: 700px !important;
    @media screen and (max-width: 900px) {
      top: -350px;
      right: -20px;
      width: 400px !important;
      height: 400px !important;
    }


    #pokeBallLogo {

      color: var(--accent-color-2);
      opacity: 0.6;
      z-index: 0;
    }

  }

  &-pokemonInfo {
    padding: 44px 64px;

    &-pokemonImage {
      width: 350px !important;
      @media screen and (max-width: 1000px) {
        width: 320px !important;
      }
      @media screen and (max-width: 700px) {
        width: 300px !important;
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 15px 30px;

    }

    @media screen and (max-width: 700px) {
      padding: 5px 10px;

    }

    &-pokeDexNumText {
      font-size: 22px;

    }

    &-pokemonDisplayName {
      line-height: 1.2;
      font-size: 35px;
      z-index: 1;
      @media screen and (max-width: 700px) {
        font-size: 32px;
      }
    }

    &-pokemonTypeSection {
      background-color: var(--accent-color-1);
      padding: 10px 20px;
      width: fit-content;
      border-radius: 10px;
      border: 1px solid var(--accent-color-2);
      font-size: 20px;

      @media screen and (max-width: 700px) {
        font-size: 15px;
      }
    }

    &-infoArea {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 20px;
      }


      &-pokemonInfoGeneralArea {
        width: 450px;
        background-color: var(--accent-color-1);
        border-radius: 16px;


        @media screen and (max-width: 700px) {
          width: 400px;
        }

        @media screen and (max-width: 500px) {
          width: 375px;
        }

        @media screen and (max-width: 380px) {
          width: 330px;
        }

        @media screen and (max-width: 330px) {
          width: 300px;
        }

        &-titleBar {
          padding: 10px;

          height: 52px;
          transition: 0.3s ease-in-out;

          &-title {
            font-size: 20px;
            font-weight: 500;
            color: white;
            @media screen and (max-width: 1300px) {
              font-size: 18px;
            }

          }
        }

        &-moveListTable {
          height: 340px;
          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background: var(--accent-color-1)
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--accent-color-9);
            border-radius: 10px;
          }

          &-statusText {
            &-physical {
              background-color: #C12011;
              color: #FF6C08
            }

            &-special {
              background-color: #4D566D;
              color: cornflowerblue;
            }

            &-status {
              background-color: #8C888C;
              color: white;
            }
          }
        }

        &-statText {
          font-size: 14px;
          @media screen and (max-width: 500px) {
            font-size: 12px;
          }
        }

        &-statAsteriskText {
          font-size: 10px;
          @media screen and (max-width: 720px) {
            font-size: 8px;
          }
        }
      }

    }
  }
}

