.listPokemon {
  &-control {
    background-color: var(--accent-color-5);
    padding: 10px 20px;
    height: 100px;
    width: 100%;
    @media screen and (max-width: 700px) {
      padding: 10px 10px 5px;
      gap: 5px;
    }

    &-text {
      font-size: 18px;
      color: black;
      @media screen and (max-width: 700px) {
        font-size: 20px;
      }
    }

    &-sortButton {
      color: #444444;

      &:hover {
        scale: 120%;
      }
    }

    &-sortButton-active {
      color: var(--accent-color-1);
    }

    &-typeSort {
      background-color: var(--accent-color-1);
      border: 3px solid var(--accent-color-9);
      position: absolute;
      top: -5px;
      right: 30px;
      z-index: 10;
      border-radius: 20px;
      padding: 12px;
      @media screen and (max-width: 1800px) {
        right: -70px;
      }
      @media screen and (max-width: 1200px) {
        right: 10px;
      }


      &-title {
        font-size: 18px;
        font-weight: 700;
        color: var(--accent-color-8);
      }

      &-checkBox {
        background-color: var(--accent-color-3);
        padding: 5px;
        border-radius: 10px;
      }

      &-button {
        background-color: var(--accent-color-7);
        border: 1px solid var(--accent-color-7);

        &:hover {
          background-color: var(--accent-color-4);
        }
      }
    }

    &-searchButton {
      background-color: var(--accent-color-3);
      border: 1px solid var(--accent-color-9);
      width: 80px;
      color: black;
      &:hover {
        background-color: var(--accent-color-1);
      }
    }


  }

  &-list {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    background-color: #444444;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #444444;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent-color-9);
      border: 3px solid #444444;
      border-radius: 10px;
    }

  }
}


.pokemonCard {
  width: 100%;
  padding: 5px 10px;
  gap: 10px;

  &:hover {
    background-color: var(--accent-color-9);
  }

  &-info {
    gap: 5px;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    @media screen and (max-width: 700px) {
      font-size: 15px;
    }
  }

  border-top: 1px solid var(--accent-color-2);
}

.pokemonCard-selected {
  background-color: var(--accent-color-7);
}
