@import 'globals';
@import 'variables';

@import "@/scss/components/index";

.pokeDex {
  width: 100%;
  background-color: var(--background-color);
  gap: 8px;
  @media screen and (max-width: 1024px) {
    gap: 3px;
  }

  &-mainController {
    width: 23%;
    height: 100dvh;
    gap: 0;
    @media screen and (max-width: 1400px) {
      width: 27%;
    }

    @media screen and (max-width: 1300px) {
      width: 30%;
    }
    @media screen and (max-width: 1200px) {
      width: 36%;
    }

    @media screen and (max-width: 1100px) {
      width: 38%;
    }

    @media screen and (max-width: 1000px) {
      width: 44%;
    }

    @media screen and (max-width: 900px) {
      width: 50%;
    }

    @media screen and (max-width: 850px) {
      width: 100%;
    }
  }

  &-contentShown {
    width: 76.5%;
    @media screen and (max-width: 1600px) {
      width: 74%
    }

    @media screen and (max-width: 1500px) {
      width: 72.2%
    }

    @media screen and (max-width: 1300px) {
      width: 69.2%
    }
    @media screen and (max-width: 1200px) {
      width: 62.5%
    }

    @media screen and (max-width: 1100px) {
      width: 61.2%
    }

    @media screen and (max-width: 1000px) {
      width: 55.5%
    }

    @media screen and (max-width: 900px) {
      width: 49.5%
    }

    @media screen and (max-width: 850px) {
      width: 100%;
    }
    height: 100dvh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--background-color)
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent-color-9);
      border-radius: 10px;
    }
  }
}

.hiddenContent {
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.fullScreenMode {
  .pokeDex-mainController {
    width: 0;
    display: none;
  }

  .pokeDex-contentShown {
    width: 100%;
  }
}

.loadingNotDone {
  width: 0;
  display: none;
}

.progressBar {
  border: 1px solid var(--accent-color-9);
  width: 100%;
  transition: 0.3s ease-in-out;

  div {
    background-color: var(--accent-color-3);
  }
}
